.dark {
  background-color: #222222;
}

.card.dark, form.dark {
  color: white;
  background-color: rgb(18 18 18);
  box-shadow: none;
}

form.dark input {
  background-color: rgb(34 34 34);
}

form.dark .cancel {
  color: white;
  background-color: rgb(18 18 18);
}

.card #delete.dark {
  color: white;
  background-color: rgb(18 18 18);
}

.menu .buttons button.dark {
  box-shadow: none;
}

.banner.dark {
  box-shadow: 0px 0px 20px #181818;
}

.footer.dark {
  box-shadow: 20px 20px 20px 20px #181818;
}