*{
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/* ----------------------------BODY---------------------------- */

body {
  flex-direction: column;
  margin: 0px;
}

body, div.main, div.command-bar {
  display: flex;
}

div.command-bar, div.main {
  margin-block: 20px;
}

/* ----------------------------BLUR---------------------------- */

.blur.active {
  z-index: 999999;
  position: fixed;
  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------FORM---------------------------- */

.form-popup {
  display: none;
}

.form-popup.active {
  display: flex;
}

.form-container {
  position: relative;
  max-width: 500px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}

.form-container button.cancel {
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  position: absolute;
  right: 17px;
  top: 17px;
}

.form-container button.cancel:hover {
  cursor: pointer;
  background-color: rgb(179, 179, 179);
}

.form-container button.cancel:active {
  background-color: rgb(150, 150, 150);
}

.form-container h2 {
  font-size: 40px;
}

.form-container label {
  font-size: 25px;
}

.form-container input {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-block: 20px;
  border: none;
  background-color: rgb(231, 231, 231);
}

.form-container input:focus {
  background-color: lightgray;
  outline: none;
}

.form-container button.confirm {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(44, 158, 44);
}

.form-container button.confirm:hover {
  cursor: pointer;
  background-color: rgb(33, 134, 33);
}

.form-container button.confirm:active {
  background-color: rgb(7, 102, 7);
}

.form-container b {
  font-size: 30px;
}

/* ----------------------------MENU---------------------------- */

div.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 50px;
  gap: 20px;
}

div.menu button {
  box-shadow: 0px 0px 8px rgb(68, 68, 68);
  height: 100px;
  width: 100px;
  border-radius: 40px;
  border: 0px;
  color: white;
}

#icon {
  font-size: 50px;
  
}

button.hidden {
  opacity: 0;
  visibility: hidden;
}

button.add, button.theme {
  transition-property: all;
}

div.menu button.book {
  background-color: rgb(75, 74, 74);
}

div.menu button.add {
  transition: 250ms;
  background-color: rgb(45, 94, 255);
}

div.menu button.theme {
  transition: 500ms;
  background-color: black;
}

div.menu button.book:hover {
  cursor: pointer;
  background-color: rgb(49, 49, 49);
}

div.menu button.book:active {
  background-color: rgb(36, 36, 36);
}

div.menu button.add:hover {
  cursor: pointer;
  background-color: rgb(21, 76, 255);
}

div.menu button.add:active {
  background-color: rgb(0, 60, 255);
}

div.menu button.theme:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}

div.menu button.theme:active {
  background-color: rgb(80, 80, 80);
}

/* ----------------------------HEADER---------------------------- */

div.header, div.footer {
  background-color: rgb(189, 66, 66);
  box-shadow: 0px 0px 10px rgb(199, 199, 199);
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: white;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

/* ----------------------------MAIN---------------------------- */

div.main {
  align-self: center;
  flex-direction: column;
  width: 1000px;
}

  /* ----------------------------COMMAND BAR---------------------------- */

  div.command-bar {
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    border: 1px rgb(226, 226, 226) solid;
  }

    select {
      border-radius: 5px;
    }

  /* ----------------------------GALLERY---------------------------- */

  div.card-gallery {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    height: 100vh;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
  }

    /* ----------------------------CARD---------------------------- */

    div.card {
      height: 300px;
      width: 300px;
      border: solid 1px lightgray;
      border-radius: 20px;
      padding: 10px;
      box-sizing: border-box;
    }

/* ----------------------------FOOTER---------------------------- */

div.footer {
  height: 100px;
}