body {
  font-family: Arial, sans-serif;
  flex-direction: column;
  margin: 0px;
}

body, div.main, div.command-bar {
  display: flex;
}

div.command-bar, div.main {
  margin-block: 20px;
}

.blur.active {
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
}

div.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 50px;
  gap: 20px;
}

div.menu button {
  box-shadow: 0px 0px 8px rgb(68, 68, 68);
  height: 100px;
  width: 100px;
  border-radius: 40px;
  border: 0px;
  color: white;
  font-size: 50px;
}

button.hidden {
  opacity: 0;
  visibility: hidden;
}

button.add, button.theme {
  transition-property: all;
}

div.menu button.book {
  background-color: rgb(75, 74, 74);
}

div.menu button.add {
  transition: 250ms;
  background-color: rgb(45, 94, 255);
  padding-left: 15px;
}

div.menu button.theme {
  transition: 500ms;
  background-color: black;
}

div.menu button.book:hover {
  cursor: pointer;
  background-color: rgb(49, 49, 49);
}

div.menu button.book:active {
  background-color: rgb(36, 36, 36);
}

div.menu button.add:hover {
  cursor: pointer;
  background-color: rgb(21, 76, 255);
}

div.menu button.add:active {
  background-color: rgb(0, 60, 255);
}

div.menu button.theme:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 41);
}

div.menu button.theme:active {
  background-color: rgb(80, 80, 80);
}

div.header, div.footer {
  background-color: rgb(189, 66, 66);
  box-shadow: 0px 0px 10px rgb(199, 199, 199);
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: white;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

div.main {
  align-self: center;
  flex-direction: column;
  width: 1000px;
}

div.command-bar {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  border: 1px rgb(226, 226, 226) solid;
}

select {
  border-radius: 5px;
}

button.add-button {
  height: 30px;
  color: white;
  background-color: rgb(45, 94, 255);
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(168, 168, 168);
  padding-inline: 10px;
  font-size: 15px;
  cursor: pointer;
}

button .fa-plus {
  margin-right: 10px;
}

button.add-button:hover {
  background-color: rgb(38, 81, 224);
}

button.add-button:active {
  background-color: rgb(28, 65, 187);;
}

div.card-gallery {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  height: 100vh;
  border-radius: 20px;
  padding: 10px;
  justify-content: space-between;
}

div.card {
  height: 300px;
  width: 300px;
  border: solid 1px lightgray;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
}

div.footer {
  height: 100px;
}