:root {
  --clr-primary: rgb(189, 66, 66);
  --clr-secondary: #f5f5f5;

  --ff-primary: Arial, sans-serif;
  --fc-white: white;
  --fc-gray: #808080;

  --fs-primary: 2rem;
  --fs-secondary: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-secondary);
  height: min(100vh);
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  font-size: var(--fs-primary);
}

.main {
  width: min(80%, 70.5rem);
  margin-inline: auto;
  flex-wrap: wrap;
}

.card {
  border: black solid 1px;
}

.footer{
  font-size: var(--fs-secondary);
}

.menu {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

.menu.blurred{
  background: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  pointer-events: all;
}

button {
  border: none;
  pointer-events: all;
  cursor: pointer;
}

.menu .buttons {
  flex-direction: column;
  gap: .75rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
}

.menu .buttons button {
  box-shadow: 0px 0px 8px rgb(68, 68, 68);
  border-radius: 50%;
  min-height: 4rem;
  min-width: 4rem;
  font-size: 2.2rem;
  color: white;
}

.menu .buttons button.hidden {
  display: none;
}

button#menu {
  background-color: rgb(49, 49, 49);
}

button#add {
  background-color: rgb(45, 94, 255);
}

button#theme {
  background-color: black;
}

div.menu form.hidden {
  display: none;
}

.menu form {
  position: relative;
  flex-direction: column;
  margin: auto;
  background-color: white;
  width: min(75%, 35rem);
  gap: .75rem;
  font-size: var(--fs-secondary);
  padding: 2rem;
}

.menu form input {
  min-width: 100%;
  border: none;
  background-color: var(--clr-secondary);
  padding: .5em
}

.menu form .cancel {
  position: absolute;
  min-height: 1.5em;
  min-width: 1.5em;
  right: .75em;
  border-radius: 50%;
  background-color: white;
}

.menu form .cancel:hover {
  background-color: var(--clr-secondary);
}

.menu form, .menu form input {
  border-radius: 1em;
}

.menu form h1 {
  padding-bottom: .5em;
}

.menu form .confirm {
  color: var(--fc-white);
  border-radius: .75em;
  padding: 1.75em;
  background-color: rgb(44, 158, 44);
}

.banner, .footer {
  padding: 1em;
  color: var(--fc-white);
  background-color: var(--clr-primary);
}

.menu form button, .menu form input{
  font-size: var(--fs-secondary);
}

.banner, .main, .footer {
  justify-content: center;
}

body, .banner, .main, .footer, .menu, .menu .buttons, .menu form {
  display: flex;
}

body, h1, h2, h3, p {
  margin: 0;
}